HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Private ###
src/main/resources/application-dev.yml
dailyNews.*
docker-compose.yml
Dockerfile
nodeenv-22

### redis ###
redis/

### HTTP ###
http/

### test ###
src/test/resources/json/**
src/test/resources/data.sql

## .json
src/main/resources/OpenAI.json